<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Voici un contenu affiché depuis le server</h2>
    {% for element in materielsinfo %}
        {{ element }} <br>
    {% endfor %}
    <hr>
    {% if age  > 18 %}
        majeur
    {% else %}
        mineur
    {% endif %}
    
    

</body>
</html>